.wrapper-nav{
    background-color: #393494;
    height: 103px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.wrapper-nav ul ul li{
    float: none;
    width: 150px;
}

.wrapper-nav ul ul a{
    line-height:120%;
    padding:10px 15px;
}
.menu-nav{
    display: flex;
    margin: auto;
    
}

.nav-links{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 5rem;
    a{
        text-decoration: none;
    }
}

.nav-links{
    a{
        color: white;
    }
}

.buscador input{
    border-radius: 10px;
}

.enviar{
    border-radius: 10px;
    width: 70px;
}

.top-panel{
    background-color: #393494;
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}

.top-panel a{
    color: white;
}

.logeate{
display: flex;
position: fixed;
justify-content: end;
gap: 5px;
padding-top: 5px;
padding-right: 8px;
z-index: 1001;
}